drivers/

!hardware/
hardware/*

!hardware/tools/
hardware/tools/*

!hardware/tools/avr/
hardware/tools/avr/*

!hardware/tools/avr/bin/


/examples
/java
/lib
/tools
/tools-builder
arduino_*.exe
arduino_*.l4j*
arduino-*.exe
arduino.exe
arduino.l4j*
libusb0.dll
msvc*
revisions.txt
wrapper-manifest.xml
hs_err_pid*.log

