drivers/

!hardware/
hardware/*

!hardware/tools/
hardware/tools/*

!hardware/tools/avr/
hardware/tools/avr/*

!hardware/tools/avr/bin/


/examples
/java
/lib
/tools
/tools-builder
arduino*
libusb0.dll
msvc*
revisions.txt
wrapper-manifest.xml

